:root {
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #d7d7d7c9;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-blue: #1c84fe;
  --bs-blue-gr: #766afb;
  --box-primary-background: #21212d;
  --box-secondary-background: #272733;
  --border-primary: #121413;
  --border-secondary: #0d6efd;
  --text-primary: #c6c9d8;
  --text-secondary: #5f5f6b;
  --app-width: 1200px;
  --gradient-v1: linear-gradient(135deg, #c72a4ca6 0%, rgba(59, 25, 57, 0.793) 94%);
  --gradient-v1-opacity5: linear-gradient(135deg, #c72a4c63 0%, rgba(59, 25, 57, 0.5) 94%);
  --gradient-v2: linear-gradient(135deg, rgba(25, 27, 42, 0.95561975) 0%, rgba(44, 28, 55, 0.95281863) 100%);
  --gradient-v3: linear-gradient(135deg, rgba(25, 27, 42, 0.95561975) 0%, rgba(15, 44, 60, 0.97242647) 100%);
  --gradient-v4: linear-gradient(135deg, #181b2a 12%, rgba(22, 33, 48, 0.7567402) 49%, #132a38 100%);
  --gradient-v5: linear-gradient(135deg, #a61eb8ad 0%, rgba(35, 19, 51, 0.793) 94%);
  --gradient-v5-opacity5: linear-gradient(135deg, #a61eb888 0%, rgba(35, 19, 51, 0.5) 94%);
  --gradient-v6: linear-gradient(135deg, #1e4b4b 0%, rgba(25, 42, 59, 0.79315476) 94%);
  --gradient-v7: linear-gradient(135deg, rgba(27, 80, 134) 0%, rgba(25, 42, 59, 0.79315476) 94%);
  --gradient-v8: linear-gradient(135deg, #18214b 0%, rgba(25, 42, 59, 0.79315476) 94%);
  --gradient-v9: linear-gradient(135deg, rgba(25, 27, 42, 0.95842087) 0%, rgba(31, 30, 37, 0.91920518) 36%, rgba(60, 43, 20, 0.94721639) 100%);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--gradient-v1);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gradient-v5);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
#root {
  height: 100vh;
  background: #00000057;
}
div {
  color: var(--bs-gray);
}
/* fonts */
h1 {
  font-size: 3rem;
  color: var(--text-primary);
}
h2 {
  font-size: 2.4rem;
  color: var(--text-primary);
}
h3 {
  font-size: 2rem;
  color: var(--text-primary);
}
h4,
li,
label,
select,
p {
  font-size: 1.8rem;
  color: var(--bs-white);
  list-style: none;
}
input,
textarea {
  background: none;
  width: 475px;
  height: 50px;
  border: 1px solid #c8614f75;
  box-shadow: 0 0 3px #1670BE;
  border-radius: 10px;
  padding: 10px;
  color: var(--bs-white);
}
input:focus,
textarea:focus {
  border: 1px solid #1670BE;
  box-shadow: 0 0 3px #1670BE;
  outline-offset: 0px;
  outline: none;
}
h5 {
  font-size: 1.6rem;
  color: var(--text-primary);
}
h6 {
  font-size: 1.4rem;
  color: var(--text-primary);
}
a {
  text-decoration: none;
  color: var(--bs-primary);
}
a:hover {
  color: var(--bs-info);
}
a:focus {
  color: var(--bs-cyan);
}
.app_wrappeer {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.app_wrappeer .main-container {
  height: 800px;
  max-width: var(--app-width);
  margin: auto;
  overflow: auto;
}
.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 15px;
}
.header_container .header {
  max-width: var(--app-width);
  margin: auto;
}
.header_container .header .title h2 {
  font-weight: bold;
  color: var(--bs-white);
}
.header_container .header .profile {
  gap: 10px;
  align-items: center;
}
.dropbtn {
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  transform: scale(0);
  position: absolute;
  backdrop-filter: blur(5px);
  min-width: 200px;
  z-index: 1;
  right: 0px;
  border-radius: 10px;
  top: 65px;
  transition-duration: 0.5s;
  z-index: 3;
}
.dropdown .dropdown-content a {
  color: var(--bs-white);
  padding: 12px 16px;
  display: block;
  border-left: 0;
  transition-duration: 0.3s;
  background-color: transparent;
}
.dropdown .dropdown-content a.v1:hover {
  border-left: 4px solid #94484c;
  background: rgba(148, 72, 76, 0.6);
  background: linear-gradient(90deg, rgba(148, 72, 76, 0.6) 0%, rgba(148, 72, 76, 0.58839286) 41%, rgba(148, 72, 76, 0.44469538) 64%, rgba(0, 0, 0, 0.03685224) 100%);
}
.dropdown .dropdown-content a.v2:hover {
  border-left: 4px solid #489483;
  background: rgba(72, 148, 131, 0.6);
  background: linear-gradient(90deg, rgba(72, 148, 131, 0.6) 0%, rgba(72, 148, 131, 0.58839286) 41%, rgba(72, 148, 131, 0.44469538) 64%, rgba(0, 0, 0, 0.03685224) 100%);
}
.dropdown .dropdown-content a.v3:hover {
  border-left: 4px solid #b9520d;
  background: rgba(185, 82, 13, 0.6);
  background: linear-gradient(90deg, rgba(185, 82, 13, 0.6) 0%, rgba(185, 82, 13, 0.58839286) 41%, rgba(185, 82, 13, 0.44469538) 64%, rgba(0, 0, 0, 0.03685224) 100%);
}
.dropdown .dropdown-content a.v4 {
  text-align: center;
}
.dropdown .dropdown-content a.v4:hover {
  border-left: 4px solid #dd130c;
  background: linear-gradient(90deg, rgba(27, 80, 134) 0%, rgba(25, 42, 59, 0.79315476) 94%);
}
.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: scale(1);
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.banner {
  margin: 0;
}
body {
  background: #191a2c;
  background: linear-gradient(135deg, rgba(25, 26, 44, 0.9) 0%, rgba(11, 17, 13, 0.9) 8%, rgba(7, 20, 29, 0.9) 16%, rgba(36, 24, 55, 0.9) 24%, rgba(27, 36, 50, 0.9) 32%, rgba(14, 32, 60, 0.9) 40%, rgba(46, 24, 74, 0.9) 48%, rgba(26, 38, 56, 0.9) 56%, rgba(26, 53, 32, 0.9) 64%, rgba(30, 43, 47, 0.9) 72%, rgba(29, 34, 41, 0.9) 80%, rgba(31, 28, 41, 0.9) 88%, rgba(27, 25, 42, 0.9) 95%);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-size: 1.6em;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
}
.dashboard .left-part {
  width: 560px;
  gap: 10px;
}
.dashboard .left-part .boxes-left {
  min-width: 290px;
  display: grid;
  gap: 16px;
}
.dashboard .left-part .boxes-left .time {
  min-height: 260px;
  display: grid;
  align-content: center;
  justify-content: center;
  background: linear-gradient(135deg, #4a9679 0%, rgba(19, 43, 32, 0.95) 43%, #0c0d2c 100%);
  border-radius: 10px;
}
.dashboard .left-part .boxes-left .box2 {
  min-height: 260px;
  background: linear-gradient(90deg, rgba(27, 80, 134) 0%, rgba(25, 42, 59, 0.79315476) 94%);
  border-radius: 10px;
}
.dashboard .left-part .boxes-left .box3 {
  min-height: 100px;
  gap: 16px;
}
.dashboard .left-part .boxes-left .box3 .short-box {
  width: 83px;
  color: white;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
}
.dashboard .left-part .boxes-left .box3 .short-box .label {
  padding: 10px 0;
  font-size: 12px;
}
.dashboard .left-part .boxes-left .box3 .gradient_v1 {
  background: linear-gradient(90deg, #18214b 0%, rgba(25, 42, 59, 0.79315476) 94%);
}
.dashboard .left-part .boxes-left .box3 .gradient_v2 {
  background: linear-gradient(90deg, #1e4b4b 0%, rgba(25, 42, 59, 0.79315476) 94%);
}
.dashboard .left-part .boxes-left .box3 .gradient_v3 {
  background: linear-gradient(90deg, rgba(27, 80, 134) 0%, rgba(25, 42, 59, 0.79315476) 94%);
}
.dashboard .left-part .boxes-left .box3 .gradient_v4 {
  background: linear-gradient(90deg, #1e4b4b 0%, rgba(25, 42, 59, 0.79315476) 94%);
}
.dashboard .left-part .boxes-right {
  display: grid;
  align-content: space-between;
}
.dashboard .left-part .boxes-right .box {
  justify-content: center;
  align-content: center;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 35px);
  border-radius: 10px;
}
.dashboard .left-part .boxes-right .box h2 {
  font-weight: bold;
  font-size: 30px;
}
.dashboard .left-part .boxes-right .box .parcent {
  color: #ff959f;
}
.dashboard .left-part .boxes-right .box p {
  font-weight: bold;
}
.dashboard .left-part .boxes-right .box_gradient_v1 {
  background: var(--gradient-v7);
}
.dashboard .left-part .boxes-right .box_gradient_v2 {
  background: var(--gradient-v9);
}
.dashboard .left-part .boxes-right .box_gradient_v3 {
  background: var(--gradient-v6);
}
.dashboard .left-part .boxes-right .box_gradient_v4 {
  background: var(--gradient-v5);
}
.right-part {
  width: 50%;
}
.right-part .short-links {
  justify-content: center;
  align-content: center;
  gap: 16px;
  height: 100%;
}
.right-part .short-links .box_icon {
  position: relative;
}
.right-part .short-links .box_icon .notify_icon {
  position: absolute;
  background-color: #182146c7;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  left: 82px;
  letter-spacing: 1px;
  backdrop-filter: blur(3px);
  transform: skewX(-14deg);
}
.right-part .short-links .box {
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
}
.right-part .short-links .box .label {
  padding-top: 20px;
}
.right-part .short-links .box .label h2 {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.right-part .short-links .box .label p {
  font-size: 13px;
  color: var(--bs-gray);
}
.right-part .short-links .gv_1 {
  background: var(--gradient-v1);
}
.right-part .short-links .gv_2 {
  background: var(--gradient-v2);
}
.right-part .short-links .gv_3 {
  background: var(--gradient-v3);
}
.right-part .short-links .gv_4 {
  background: var(--gradient-v4);
}
.right-part .short-links .gv_5 {
  background: var(--gradient-v5);
}
.right-part .short-links .gv_6 {
  background: var(--gradient-v6);
}
.right-part .short-links .gv_7 {
  background: var(--gradient-v7);
}
.right-part .short-links .gv_8 {
  background: var(--gradient-v8);
}
.right-part .short-links .gv_9 {
  background: var(--gradient-v9);
}
.box {
  width: 150px;
  height: 200px;
}
.box.box-sm {
  background-color: red;
}
.box.box-md {
  width: 150px;
  height: 148px;
}
.box.box-lg {
  width: 175px;
  height: 175px;
  overflow: hidden;
  text-align: center;
  background: #181b2a;
  background: linear-gradient(90deg, #181b2a 12%, rgba(22, 33, 48, 0.7567402) 49%, #132a38 100%);
}
.box.box-square {
  width: 385px;
  height: 180px;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(90deg, #181b2a 12%, rgba(22, 33, 48, 0.7567402) 49%, #132a38 100%);
}
.time-box .main_time {
  position: relative;
}
.time-box .main_time h2 {
  font-size: 8rem;
}
.time-box .main_time h5 {
  position: absolute;
  top: 60px;
  right: -30px;
}
.footer_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.footer_container .footer {
  max-width: var(--app-width);
  margin: auto;
}
.footer_container .footer .nav ul {
  width: 100%;
  cursor: pointer;
}
.footer_container .footer .nav ul li .bottom_link_item {
  color: white;
  text-align: center;
  width: 100px;
}
.footer_container .footer .nav ul li .bottom_link_item p {
  padding-top: 10px;
}
.list_products {
  width: 100vw;
  max-width: 1600px;
  height: 980px;
}
.list_products .table_data_main {
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(135deg, #4d285278 12%, rgba(41, 92, 164, 0.42) 49%, #1b3c4f 100%);
}
.list_products .table_data_main .table_head {
  padding: 0 20px 25px 20px;
}
.list_products .table_data_main .table_head .content {
  align-items: center;
}
.list_products .table_data_main .table_head .content h2,
.list_products .table_data_main .table_head .content p {
  margin: 0;
}
.list_products .table_data_main .table_head .searchbox input {
  width: 350px;
  height: 35px;
}
.list_products .table_data_main .product_table_card {
  padding: 10px 15px;
  max-height: 710px;
  overflow: auto;
}
.list_products .table_data_main .product_table_card table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}
.list_products .table_data_main .product_table_card table input {
  width: 25px;
  height: 25px;
}
.list_products .table_data_main .product_table_card table thead {
  position: sticky;
  z-index: 5;
  top: -10px;
  left: 0;
  width: 100%;
}
.list_products .table_data_main .product_table_card table thead tr {
  margin-top: 0;
  background: var(--gradient-v3);
  border-radius: 10px;
}
.list_products .table_data_main .product_table_card table thead tr th {
  padding: 15px;
  color: #eddada;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid tomato;
}
.list_products .table_data_main .product_table_card table tbody tr:nth-child(even) {
  margin: 3px 0;
  background: var(--gradient-v3);
}
.list_products .table_data_main .product_table_card table tbody tr:nth-child(even):hover {
  background: var(--gradient-v1-opacity5);
}
.list_products .table_data_main .product_table_card table tbody tr:nth-child(odd) {
  margin: 3px 0;
  background: var(--gradient-v4);
}
.list_products .table_data_main .product_table_card table tbody tr:nth-child(odd):hover {
  background: var(--gradient-v5-opacity5);
}
.list_products .table_data_main .product_table_card table tbody tr td {
  padding: 15px;
  color: white;
}
.list_products .table_data_main .product_table_card table tbody tr td .actions .dropbtn {
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.list_products .table_data_main .product_table_card table tbody tr td .actions .dropdown {
  position: relative;
  display: inline-block;
}
.list_products .table_data_main .product_table_card table tbody tr td .actions .dropdown .dropdown-content {
  transform: scale(0);
  position: absolute;
  background-color: black;
  min-width: 200px;
  z-index: 1;
  right: 35px;
  border-radius: 10px;
  top: 35px;
}
.list_products .table_data_main .product_table_card table tbody tr td .actions .dropdown .dropdown-content a {
  color: var(--bs-white);
  padding: 12px 16px;
  display: block;
  border-left: 0;
  background-color: transparent;
}
.list_products .table_data_main .product_table_card table tbody tr td .actions .dropdown:hover .dropdown-content {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.list_products .table_data_main .table_bottom {
  padding: 25px 20px 0 20px;
}
.list_products .table_data_main .table_bottom p {
  margin: 0;
}
.my_canvus {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transform: scale(0);
  height: 100vh;
  width: 100vw;
  border: 2px tomato;
}
.my_canvus.active {
  transform: scale(1);
}
.my_canvus .my_canvus_backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}
.my_canvus .my_canvus_body {
  width: 100%;
  max-width: 600px;
  background: var(--gradient-v4);
  height: 100%;
  position: absolute;
  right: 0;
  padding: 35px;
  text-align: center;
  line-height: 35px;
}
.my_canvus .my_canvus_body h2 {
  font-size: 45px;
}
.my_canvus .my_canvus_body p {
  font-size: 25px;
}
.product_heading_menu ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 25px;
}
.product_heading_menu ul li {
  font-size: 20px;
  padding: 10px;
}
.product_heading_menu ul li a {
  background: -webkit-linear-gradient(#e7b0a8, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}
.product_heading_menu ul .active {
  border-bottom: 3px solid #ff3737ba;
}
.add_product {
  width: 100vw;
  max-width: 1600px;
  height: 980px;
}
.add_product .add_new_product {
  padding: 15px 50px;
  height: 745px;
  overflow-y: auto;
}
.add_product .add_new_product form .data_field {
  justify-content: center;
}
.add_product .add_new_product form button {
  border-radius: 5px;
  font-size: 25px;
}
.update_product {
  width: 100vw;
  max-width: 1600px;
  height: 980px;
}
.update_product .edit_product {
  padding: 0 15px;
  height: 745px;
  overflow: auto;
}
.product_details {
  width: 100vw;
  max-width: 1600px;
  height: 980px;
}
.product_details .details {
  padding: 0 15px;
  height: 745px;
  overflow: auto;
}
.blog {
  width: 100vw;
  max-width: 1600px;
  height: 980px;
  overflow-y: auto;
}
.blog .content .blog_boxes {
  justify-content: center;
  align-content: center;
  gap: 16px;
  height: 100%;
}
.blog .content .blog_boxes .box {
  border-radius: 10px;
}
.blog .content .blog_boxes .box .box_content {
  cursor: pointer;
  border-radius: 10px;
  padding: 35px;
  height: 100%;
  display: grid;
  align-content: center;
  gap: 65px;
}
.blog .content .blog_boxes .box .box_content .heading_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog .content .blog_boxes .box .box_content .heading_content h2 {
  font-size: 40px;
  font-weight: bold;
}
.blog .content .blog_boxes .box .box_content .lebel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog .content .blog_boxes .gv_1 {
  background: var(--gradient-v1);
}
.blog .content .blog_boxes .gv_2 {
  background: var(--gradient-v2);
}
.blog .content .blog_boxes .gv_3 {
  background: var(--gradient-v3);
}
.blog .content .blog_boxes .gv_4 {
  background: var(--gradient-v4);
}
.blog .content .blog_boxes .gv_5 {
  background: var(--gradient-v5);
}
.blog .content .blog_boxes .gv_6 {
  background: var(--gradient-v6);
}
.blog .content .blog_boxes .gv_7 {
  background: var(--gradient-v7);
}
.blog .content .blog_boxes .gv_8 {
  background: var(--gradient-v8);
}
.blog .content .blog_boxes .gv_9 {
  background: var(--gradient-v9);
}
/*# sourceMappingURL=./style.css.map */