.product_heading_menu {
    
    ul {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding-bottom: 25px;

        li {
            font-size: 20px;
            padding: 10px;

            a {
                background: -webkit-linear-gradient(#affdbd, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .active {
            border-bottom: 3px solid #ff3737ba;
        }
    }
}