body {
    background-image: url("../../img/b3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    // border: 10px solid var(--border-primary);
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
}