.box {
    width: 150px;
    height: 200px;
    border: 1px solid var(--bs-primary);

    &.box-sm {
        background-color: red;
    }

    &.box-md {
        width: 150px;
        height: 148px;
    }

    &.box-lg {
        width: 175px;
        height: 175px;
        overflow: hidden;
        text-align: center;
    }
}