.time-box {
    
    .date {}

    .main_time {
        position: relative;

        h2 {
            font-size: 8rem;
        }

        h5 {
            position: absolute;
            top: 60px;
            right: -30px;
        }
    }
}